<div class="newsletter-sidebar-categories newsletter-sidebar-categories--{{ block.id }}">
  <p 
    class="h6 newsletter-sidebar-categories__title" 
    kjb-settings-id="{{ 'heading' | settings_id: section: section, block: block }}"
    {% element_attributes "block.settings.heading" %}
  >
    {{ block.settings.heading }}
  </p>
  {% for tag in newsletter.tags %}
    <a class="tag" href="{{ newsletter.url }}?tags[]={{ tag | url_encode }}">{{ tag }}</a>
  {% endfor %}
</div>
