{% assign settings_linked = section.settings.newsletter_is_linked %}
{% if settings_linked %}
  {% assign image_style = section.settings.logo_style %}
  {% assign image_url = newsletter.thumbnail_url %}
{% else %}
  {% assign image_style = section.settings.unlinked_logo_style %}
  {% if section.settings.unlinked_custom_image %}
    {% assign image_url = section.settings.unlinked_custom_image | image_picker_url %}
  {% endif %}
{% endif %}

{% if image_url %}
  {% if image_style == "right" or image_style == "left" %}
    {% assign newsletter_form_columns = "col-10" %}
  {% else %}
    {% if newsletter.form.fields.size > 1 %}
      {% assign newsletter_form_columns = "col-7" %}
    {% else %}
      {% assign newsletter_form_columns = "col-5 col-lg-7" %}
    {% endif %}
  {% endif %}
{% endif %}

<style>
  .newsletter-hero {
    text-align: center;
  }
  #section-{{ section.id}} .newsletter-hero__text,
  #section-{{ section.id}} .newsletter-hero__text h2,
  #section-{{ section.id}} .newsletter-hero__text h3,
  #section-{{ section.id}} .newsletter-hero__text h4,
  #section-{{ section.id}} .newsletter-hero__text h5,
  #section-{{ section.id}} .newsletter-hero__text h6 {
    {% if section.settings.text_color %} color: {{ section.settings.text_color }}; {% endif %}
  }
  {% if section.settings.bg_type == "image" %}
    #section-{{ section.id }} {
      background-image: url({{ section.settings.bg_image | image_picker_url: "background.jpg" }});
      background-position: {{ section.settings.bg_position }};
    }
  {% endif %}
  #section-{{ section.id }} .section__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: {{ section.settings.background_color }};
  }
  #section-{{ section.id}} .sizer {
    padding-top: {{ section.settings.padding_mobile.top | default: 40 | append: "px" }};
    padding-bottom: {{ section.settings.padding_mobile.bottom | default: 40 | append: "px" }};
  }
  #section-{{ section.id}} .container {
    max-width: calc(1260px + {{ section.settings.padding_mobile.right | default: 10 | append: "px" }} + {{ section.settings.padding_mobile.left | default: 10 | append: "px" }});
    padding-right: {{ section.settings.padding_mobile.right | default: 10 | append: "px" }};
    padding-left: {{ section.settings.padding_mobile.left | default: 10 | append: "px" }};
  }
  @media (min-width: 768px) {
    #section-{{ section.id}} .sizer {
      padding-top: {{ section.settings.padding_desktop.top | default: 40 | append: "px" }};
      padding-bottom: {{ section.settings.padding_desktop.bottom | default: 40 | append: "px" }};
    }
    #section-{{ section.id}} .container {
      max-width: calc(1260px + {{ section.settings.padding_desktop.right | default: 40 | append: "px" }} + {{ section.settings.padding_desktop.left | default: 40 | append: "px" }});
      padding-right: {{ section.settings.padding_desktop.right | default: 40 | append: "px" }};
      padding-left: {{ section.settings.padding_desktop.left | default: 40 | append: "px" }};
    }
  }

  #section-{{ section.id}} .newsletter-hero__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #section-{{ section.id}} .newsletter-hero__image {
    width: 15%;
    height: auto;
    margin: 0 auto;
    padding: 15px 0;
  }
  #section-{{ section.id}} .newsletter-hero__image > img {
    border-radius: {{ section.settings.image_border_radius | append: "px" }};
  }
  #section-{{ section.id}} .newsletter-hero__title-description-form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    row-gap: 15px;
  }
  #section-{{ section.id}} .newsletter-hero__title-description-form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    row-gap: 15px;
  }

  {% if image_url %}
    {% case image_style %}
      {% when "default" %}
        #section-{{ section.id}} .newsletter-hero__image {
          width: 15%;
          height: auto;
          margin: 0 auto;
          padding: 15px 0;
        }
      {% when "right" %}
        @media (min-width: 768px) {
          #section-{{ section.id}} .newsletter-hero__container {
            flex-direction: row-reverse;
          }
          #section-{{ section.id}} .newsletter-hero__image {
            width: 35%;
            height: auto;
            margin: auto 0;
            padding: 0 15px;
          }
          #section-{{ section.id}} .newsletter-hero__title-description-form {
            width: 65%;
          }
        }
      {% when "left" %}
        @media (min-width: 768px) {
          #section-{{ section.id}} .newsletter-hero__container {
            flex-direction: row;
          }
          #section-{{ section.id}} .newsletter-hero__image {
            width: 35%;
            height: auto;
            margin: auto 0;
            padding: 0 15px;
          }
          #section-{{ section.id}} .newsletter-hero__title-description-form {
            width: 65%;
          }
        }
      {% when "inline" %}
        #section-{{ section.id}} .newsletter-hero__image {
          display: inline-block;
          height: auto;
          vertical-align: middle;
          width: 5%;
        }
      {% when "hidden" %}
        #section-{{ section.id}} .newsletter-hero__image {
          display: none;
        }
    {% endcase %}
  {% endif %}

  {% if section.settings.show_title == false %}
    #section-{{ section.id}} .newsletter-hero__title {
      display: none;
    }
  {% endif %}

  {% if section.settings.show_description == false %}
    #section-{{ section.id}} .newsletter-hero__description {
      display: none;
    }
  {% endif %}

  .newsletter-hero hr {
    color: {{ settings.color_body_secondary }};
  }
</style>

{% unless newsletter %}
  {% assign no_scoped_newsletter = true %}
  {% assign newsletter = current_site.find_newsletter["default"] %}
{% endunless %}

<section class="newsletter-hero" kjb-settings-id="{{'background_color' | settings_id: section: section }}">
  <div class="sizer">
    <div class="section__overlay"></div>
    <div class="container">
      <div class="row">
        <div class="newsletter-hero__container">
          {% if image_url and image_style != "inline" %}
            <div class="newsletter-hero__image">
              {{ image_url | image_tag }}
            </div>
          {% endif %}
          <div class="newsletter-hero__title-description-form">
            {% if settings_linked %}
              <div class="newsletter-hero__text newsletter-hero__title">
                <h3 kjb-settings-id="{{ 'show_title' | settings_id: section: section }}">
                  {% if image_url  and image_style == "inline" %}
                    <div class="newsletter-hero__image">
                      {{ image_url | image_tag }}
                    </div>
                  {% endif %}
                  {{ newsletter.title }}
                </h3>
              </div>
              <div class="newsletter-hero__text newsletter-hero__description">
                <h6 kjb-settings-id="{{ 'show_description' | settings_id: section: section }}">
                  {{ newsletter.description }}
                </h6>
              </div>
            {% else %}
              <div class="newsletter-hero__text newsletter-hero__unlinked-text" {% element_attributes "section.settings.text" %}>
                {{ section.settings.text }}
              </div>
            {% endif %}
            <div class="row justify-content-center">
              <div class="{{ newsletter_form_columns }}">
                {% include "newsletter_form" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if no_scoped_newsletter %}
  {% assign newsletter = nil %}
{% endif %}

{% schema %}
  {
  "name": "Newsletter Hero",
  "deletable": "false",
  "duplicatable": "true",
  "hidden": "false",
  "elements": [
    {
      "type": "checkbox",
      "id": "newsletter_is_linked",
      "label": "Link to newsletter settings",
      "default": "true"
    },
    {
      "type": "info",
      "id": "config",
      "info": "Configure your title and description in your [newsletter settings](#app-link-newsletter-settings).",
      "hide_if": {
        "newsletter_is_linked": false
      }
    },
    {
      "type": "radio",
      "id": "logo_style",
      "label": "Logo Style",
      "allow_blank": false,
      "default": "default",
      "hide_if": {
        "newsletter_is_linked": false
      },
      "options": [
        { "label": "Default", "value": "default" },
        { "label": "Right", "value": "right" },
        { "label": "Left", "value": "left" },
        { "label": "Inline", "value": "inline" },
        { "label": "Hidden", "value": "hidden" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": "true",
      "hide_if": {
        "newsletter_is_linked": false
      }
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": "true",
      "hide_if": {
        "newsletter_is_linked": false
      }
    },
    {
      "type": "image_picker",
      "id": "unlinked_custom_image",
      "label": "Image",
      "hide_if": {
        "newsletter_is_linked": true
      }
    },
    {
      "type": "radio",
      "id": "unlinked_logo_style",
      "label": "Image Style",
      "allow_blank": false,
      "default": "default",
      "hide_if": {
        "newsletter_is_linked": true
      },
      "options": [
        { "label": "Default", "value": "default" },
        { "label": "Right", "value": "right" },
        { "label": "Left", "value": "left" },
        { "label": "Hidden", "value": "hidden" }
      ]
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "Image Border Radius",
      "default": "4",
      "min": "0",
      "max": "50"
    },
    {
      "type": "rich_text",
      "id": "text",
      "label": "Text",
      "default": "<h3>Newsletter Title</h3><h6>Newsletter description</h6>",
      "hide_if": {
        "newsletter_is_linked": true
      }
    },
    {
      "type": "color",
      "label": "Text color",
      "id": "text_color",
      "default": "",
      "allow_blank": true,
      "info": "Set a background color or apply a color overlay to your background image or video. Use the color wheel slider to adjust opacity."
    }
  ],
  "groups": [
    {
      "name": "Button",
      "elements": [
        {
          "type": "text",
          "id": "form_btn_text",
          "label": "Text",
          "default": "Subscribe",
          "allow_blank": false
        },
        {
          "type": "color",
          "id": "form_btn_background_color",
          "label": "Button Background Color",
          "default": "",
          "allow_blank": true
        },
        {
          "type": "color",
          "id": "form_btn_text_color",
          "label": "Button Text Color",
          "default": "",
          "allow_blank": true,
          "info": "For solid buttons only"
        },
        {
          "type": "radio",
          "id": "form_btn_style",
          "label": "Button Style",
          "default": "solid",
          "allow_blank": true,
          "options": [
            { "label": "Solid", "value": "solid" },
            { "label": "Outline", "value": "outline" }
          ]
        },
        {
          "type": "radio",
          "id": "form_btn_width",
          "label": "Button Width",
          "default": "auto",
          "options": [
            {
              "value": "full",
              "label": "Full"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "radio",
          "id": "form_btn_size",
          "label": "Button Size",
          "default": "medium",
          "allow_blank": true,
          "options": [
            { "label": "Small", "value": "small" },
            { "label": "Medium", "value": "medium" },
            { "label": "Large", "value": "large" }
          ]
        },
        {
          "type": "range",
          "id": "form_btn_border_radius",
          "label": "Button Border Radius",
          "default": "4",
          "min": "0",
          "max": "50"
        }
      ]
    },
    {
      "name": "Background",
      "elements": [
        {
          "type": "select",
          "id": "bg_type",
          "label": "Background Media Type",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image",
          "info": "A good background image sets the tone for your website without distracting from your content. Suggested dimensions: 2880 × 1200.",
          "fit": "max",
          "width": 3000,
          "height": 3000
        },
        {
          "type": "radio",
          "id": "bg_position",
          "label": "Background Image Position",
          "default": "center",
          "info": "Vertical positioning of the background image.",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "color",
          "label": "Background Color",
          "id": "background_color",
          "default": "",
          "allow_blank": true,
          "info": "Set a background color or apply a color overlay to your background image or video. Use the color wheel slider to adjust opacity."
        }
      ]
    },
    {
      "name": "Desktop Layout",
      "elements": [
        {
          "type": "spacer",
          "id": "padding_desktop",
          "label": "Desktop Section Padding",
          "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
          "placeholder": {
            "top": "40",
            "right": "40",
            "bottom": "40",
            "left": "40"
          }
        }
      ]
    },
    {
      "name": "Mobile Layout",
      "elements": [
        {
          "type": "spacer",
          "id": "padding_mobile",
          "label": "Mobile Section Padding",
          "info": "Adjust padding inside of the section",
          "placeholder": {
            "top": "40",
            "right": "10",
            "bottom": "40",
            "left": "10"
          }
        }
      ]
    }
  ]
}
{% endschema %}
