{% comment %}
  Text Block - Displays rich text content with optional CTA button
{% endcomment %}

{% capture block_content %}
  <div class="block-text" id="block-{{ block.id }}">
    {% if block.settings.drop_cap %}
      <style>
        #block-{{ block.id }} .block-text__content p:first-of-type::first-letter {
          font-size: 80px;
          line-height: 80px;
          float: left;
          margin: 0 20px 0 0;
          color: {{ block.settings.cap_color | default: settings.color_primary }};
        }
      </style>
    {% endif %}
    
    <div class="block-text__content" kjb-settings-id="{{ 'text' | settings_id: section: section, block: block }}">
      {{ block.settings.text }}
    </div>
    
    {% if block.settings.use_btn and block.settings.button_text != blank %}
      <div class="block-text__cta">
        <a href="{{ block.settings.button_link }}" 
           class="btn btn--{{ block.settings.button_style | default: 'primary' }}"
           kjb-settings-id="{{ 'button_text' | settings_id: section: section, block: block }}">
          {{ block.settings.button_text }}
        </a>
      </div>
    {% endif %}
  </div>
{% endcapture %}

{% include 'block_wrapper', block: block, content: block_content, additional_classes: 'block-text-wrapper' %}
