<style>
  .newsletter-search--{{ block.id }} ::-webkit-input-placeholder {
    color: {{ block.settings.search_text_color }};
  }
  .newsletter-search--{{ block.id }} ::-moz-placeholder {
    color: {{ block.settings.search_text_color }};
  }
  .newsletter-search--{{ block.id }} :-ms-input-placeholder {
    color: {{ block.settings.search_text_color }};
  }
  .newsletter-search--{{ block.id }} :-moz-placeholder {
    color: {{ block.settings.search_text_color }};
  }
  .newsletter-search--{{ block.id }} .newsletter-search__input {
    color: {{ block.settings.search_text_color }};
  }
  .newsletter-search {
    width: 100%;
  }
</style>
<div class="newsletter-search newsletter-search--{{ block.id }}" kjb-settings-id="{{ 'search_text' | settings_id: section: section, block: block }}">
  <form class="newsletter-search__form" action="{{ newsletter.url }}" method="get" role="search">
    <input
      class="form-control newsletter-search__input"
      type="search"
      name="search"
      placeholder="{{ block.settings.search_text }}"
    >
  </form>
</div>
