<style>
  .newsletter-post-body .sizer {
    padding-top: {{ section.settings.padding_mobile.top | default: 40 | append: "px" }};
    padding-bottom: {{ section.settings.padding_mobile.bottom | default: 40 | append: "px" }};
  }
  .newsletter-post-body .container {
    max-width: calc(1260px + {{ section.settings.padding_mobile.right | default: 10 | append: "px" }} + {{ section.settings.padding_mobile.left | default: 10 | append: "px" }});
    padding-right: {{ section.settings.padding_mobile.right | default: 10 | append: "px" }};
    padding-left: {{ section.settings.padding_mobile.left | default: 10 | append: "px" }};
  }
  .row.newsletter-post-body__info {
    flex-direction: column;
  }
  .newsletter-post-body__date {
    color: {{ settings.color_body_secondary }};
    font-size: 90%;
  }
  .newsletter-post-body__content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
  @media (min-width: 768px) {
    .newsletter-post-body .sizer {
      padding-top: {{ section.settings.padding_desktop.top | default: 40 | append: "px" }};
      padding-bottom: {{ section.settings.padding_desktop.bottom | default: 40 | append: "px" }};
    }
    .newsletter-post-body .container {
      max-width: calc(1260px + {{ section.settings.padding_desktop.right | default: 40 | append: "px" }} + {{ section.settings.padding_desktop.left | default: 40 | append: "px" }});
      padding-right: {{ section.settings.padding_desktop.right | default: 40 | append: "px" }};
      padding-left: {{ section.settings.padding_desktop.left | default: 40 | append: "px" }};
    }
  }
  .newsletter-post-body hr {
    color: {{ settings.color_body_secondary }};
  }
  .newsletter-post-body__content .focus-writer-content {
    width: 100%;
  }
  .newsletter-sidebar__col.order-last {
    order: 13;
  }
</style>

{% case section.settings.sidebar_placement %}
  {% when "top" %}
    {% assign sidebar_col_class = "col-lg-9" %}
  {% when "left" %}
    {% assign sidebar_col_class = "col-lg-3" %}
  {% when "right" %}
    {% assign sidebar_col_class = "col-lg-3 order-last" %}
{% endcase %}

<section class="newsletter-post-body">
  <div class="sizer">
    <div class="container">
      {% if section.settings.show_link_to_newsletter %}
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <a 
              class="h6" 
              href="{{ newsletter.url }}" 
              {% element_attributes "section.settings.link_to_newsletter_text" %}
            >
              {{ section.settings.link_to_newsletter_text }}
            </a>
          </div>
        </div>
      {% endif %}
      <div class="row justify-content-center">
        {% if section.settings.sidebar_placement != "top" %}
          <div class="newsletter-sidebar__col {{ sidebar_col_class }}">
            {% include "newsletter_sidebar" %}
          </div>
        {% endif %}
        <div class="col-lg-9">
          <div class="row newsletter-post-body__info">
            <div class="focus-writer-content">
              <h1 class="newsletter-post-body__title">{{ newsletter_post.title }}</h1>
            </div>
            <div class="newsletter-post-body__authors">
              {% if newsletter_post.authors? %}
                by {{ newsletter_post.authors }}
              {% endif %}
            </div>
            <div class="newsletter-post-body__date">
              {{ newsletter_post.published_at | date: "%b %d, 20%y" }}
            </div>
          </div>
          {% if section.settings.sidebar_placement == "top" %}
            {% include "newsletter_sidebar" %}
          {% endif %}
          <div class="row newsletter-post-body__content">
            <div class="focus-writer-content">
              {{ newsletter_post.body }}
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-9">
          {{ newsletter_post | newsletter_post_comments_section }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter Post Body",
    "deletable": "false",
    "duplicatable": "false",
    "elements": [
      {
        "type": "checkbox",
        "id": "show_link_to_newsletter",
        "label": "Show link to newsletter",
        "default": "true"
      },
      {
        "type": "text",
        "id": "link_to_newsletter_text",
        "label": "Link to newsletter text",
        "default": "&larr; Back to all posts"
      },
      {
        "type": "select",
        "id": "sidebar_placement",
        "label": "Sidebar placement",
        "default": "top",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "newsletter_search",
        "name": "Search",
        "elements": [
          {
            "type": "header",
            "content": "Search"
          },
          {
            "type": "text",
            "id": "search_text",
            "label": "Search Text",
            "default": "Search..."
          },
          {
            "type": "color",
            "id": "search_text_color",
            "label": "Search Text Color",
            "default": "",
            "allow_blank": true
          }
        ]
      },
      {
        "type": "newsletter_social",
        "name": "Social Links",
        "elements": [
          {
            "type": "header",
            "content": "Social Links",
            "info": "Links to your social networking pages. Each link MUST begin with \"http://\" or \"https://\". Leaving a field blank will hide that icon."
          },
          {
            "type": "divider"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text",
            "default": "Connect"
          },
          {
            "type": "color",
            "label": "Social Icon Color",
            "id": "social_icons_text_color",
            "allow_blank": true,
            "info": "Change the color for the social icons."
          },
          {
            "type": "color",
            "label": "Social Icon Background Color",
            "id": "social_icons_background_color",
            "allow_blank": true,
            "info": "Change the background color for the social icon containers."
          },
          {
            "type": "select",
            "id": "social_icon_background_style",
            "label": "Social Icon Background Style",
            "default": "",
            "options": [
              { "label": "Round", "value": "round" },
              { "label": "Square", "value": "square" },
              { "label": "None", "value": "" }
            ]
          },
          {
            "type": "checkbox",
            "id": "new_tab",
            "label": "Open In New Tab",
            "default": "false"
          },
          {
            "type": "align",
            "id": "social_text_align",
            "label": "Text Alignment",
            "default": "left",
            "direction": "horizontal"
          },
          {
          "type": "text",
          "id": "social_icon_link_facebook",
          "label": "Facebook",
          "default": "https://www.facebook.com/kajabi"
          },
          {
            "type": "text",
            "id": "social_icon_link_twitter",
            "label": "Twitter",
            "default": "https://www.twitter.com/kajabi"
          },
          {
            "type": "text",
            "id": "social_icon_link_instagram",
            "label": "Instagram",
            "default": "https://www.instagram.com/kajabi"
          },
          {
            "type": "text",
            "id": "social_icon_link_youtube",
            "label": "YouTube",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_pinterest",
            "label": "Pinterest",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_vimeo",
            "label": "Vimeo",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_github",
            "label": "Github",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_itunes",
            "label": "iTunes",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_linkedin",
            "label": "LinkedIn",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_soundcloud",
            "label": "Soundcloud",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_yelp",
            "label": "Yelp",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_tumblr",
            "label": "Tumblr",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_slack",
            "label": "Slack",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_flickr",
            "label": "Flickr",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_dribbble",
            "label": "Dribbble",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_tiktok",
            "label": "TikTok",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_medium",
            "label": "Medium",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_spotify",
            "label": "Spotify",
            "default": ""
          },
          {
            "type": "text",
            "id": "social_icon_link_podcasts",
            "label": "Podcasts",
            "default": ""
          }
        ]
      },
      {
        "type": "newsletter_social_share",
        "name": "Social Share",
        "elements": [
          {
            "type": "header",
            "content": "Social Share"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Text",
            "default": "Share"
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Background Color",
            "default": "",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "default": "",
            "allow_blank": true,
            "info": "For solid buttons only"
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "",
            "allow_blank": true,
            "options": [
              {
                "value": "full",
                "label": "Full"
              },
              {
                "value": "auto",
                "label": "Auto"
              }
            ]
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "Button Style",
            "default": "",
            "allow_blank": true,
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "Button Size",
            "default": "",
            "allow_blank": true,
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "medium" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "text",
            "id": "btn_border_radius",
            "label": "Border Radius",
            "default": "",
            "allow_blank": true
          }
        ],
        "groups": [
          {
            "name": "Desktop Layout",
            "elements": [
              {
                "type": "spacer",
                "id": "padding_desktop",
                "label": "Desktop Section Padding",
                "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
                "placeholder": {
                  "top": "40",
                  "right": "40",
                  "bottom": "40",
                  "left": "40"
                }
              }
            ]
          },
          {
            "name": "Mobile Layout",
            "elements": [
              {
                "type": "spacer",
                "id": "padding_mobile",
                "label": "Mobile Section Padding",
                "info": "Adjust padding inside of the section",
                "placeholder": {
                  "top": "40",
                  "right": "10",
                  "bottom": "40",
                  "left": "10"
                }
              }
            ]
          }
        ]
      },
      {
        "type": "newsletter_categories",
        "name": "Catgegories",
        "elements": [
          {
            "type": "header",
            "content": "Categories"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Categories"
          }
        ]
      }
    ],
    "groups": [
      {
        "name": "Desktop Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_desktop",
            "label": "Desktop Section Padding",
            "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
            "placeholder": {
              "top": "40",
              "right": "40",
              "bottom": "40",
              "left": "40"
            }
          }
        ]
      },
      {
        "name": "Mobile Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_mobile",
            "label": "Mobile Section Padding",
            "info": "Adjust padding inside of the section",
            "placeholder": {
              "top": "40",
              "right": "10",
              "bottom": "40",
              "left": "10"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
